.name {
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  text-align: center;
  text-shadow: 3px 3px 0 black;
  font-size: 4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: static;
  padding-bottom: 80px;
  padding-top: 0px;

}

  .title {
  position: relative;
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  font-size: xx-large;
  text-align: center;
  bottom:  1px;
}

.paragraph {
  position: relative;
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  font-size: x-large;
  align-items: center;
}

.night {
  transform: rotate(20deg);
  position: relative;
  top: 20px;
  right: 20px;
}