.name {
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  text-align: center;
  text-shadow: 3px 3px 0 black;
  font-size: 4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  bottom: 50px;
}

  .title {
  position: relative;
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  font-size: xx-large;
  text-align: center;
  top: 10px;
}

.paragraph {
  position: relative;
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  font-size: x-large;
  align-items: center;
}