.name_home {
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  text-align: center;
  text-shadow: 3px 3px 0 black;
  font-size: 4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 9%;
}

.title_home {
  font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
  color: #bec6d1;
  font-size: xx-large;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.main_home {
height: 100vh;
width: 100vw;
overflow-y: auto;

}

.page_home {
width: 80%;
margin: 0 auto;
height: 100%;
position: static;
padding-top: 51px;
}

.night_home {
  z-index: -1;
  transform: rotate(0deg);
  position: relative;
  top: 140px;
}