.colum {
    color: #bec6d1;
    text-align: start;
    font-size: large;
    width: 65%;
    position: relative;
    top: 50px;
    
}

.table {
    
    margin: auto;
    width: 80%;
    position: relative;
    left: 4%;
    top: 40px;
}